# Node / JS
node_modules/
.pnpm-store/
.next/
.turbo/
dist/
build/
coverage/
*.tsbuildinfo
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg-info/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml

# Expo / Mobile
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/dist/
apps/mobile/web-build/
*.jks
*.p12
*.key
*.mobileprovision

# Local secrets
*.pem
secrets/
.env.*
*.env
credentials.json
.credentials
node_modules/.pnpm/@next+swc-linux-arm64-musl@14.2.15/node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
node_modules/.pnpm/@next+swc-linux-arm64-gnu@14.2.15/node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
.pnpm-store/v3/files/89/17f8f6147f67bec43ec6b1cbfc02743130d1b6d96f7850f17bfa1e00fd83d33d415dee56c91ab250f6439f6a36562cff5f40ae283c0db7af9bbe839aae305c
.pnpm-store/v3/files/97/2a69c9fd899698e0d72d969a0eb09e1d28a372a45b26b84c4d0f03d4d60d1d220789ba868f02686213defee3de48541630ff97784456aa7af464c8d3bab206

# Coverage artifacts
coverage.xml
.coverage
htmlcov/
